*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 12px 12px;
    position: fixed;
    width: 100%;
}

#navbar ul{
    display: flex;
}

#navbar ul li{
    list-style: none;
    
}
#navbar ul li a{
    text-decoration: none;
    padding: 12px 12px;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#navbar ul li a:hover{
    color: rgb(215, 207, 207);
}

#left{
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#left h4{
    font-weight: bolder;
    cursor: pointer;
}
#home{
    width: 100%;
    height: 70vh;
    background: url(images/him.jpg) no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #fff;
}

#home-desc{
    height: 200px;
    width: 73%;
    font-size: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    text-align: center;
    font-weight: bold;
    background-color: rgb(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-desc{
    border: 2px solid rgb(7, 7, 26);
    color: rgb(7, 7, 26);
    padding: 12px 12px;
    margin-top: 21px;
    width: 135px;
    border-radius: 12px;
    cursor: pointer;
    background-color: #fff;
    font-weight: bold;
    
}

.button-desc:hover{
    border: 2px solid #fff;
    color: #fff;
    background-color: rgb(7, 7, 26);
    transition: 0.3s;
}

#visits{
    background-color: rgb(7, 7, 26);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#visits h2{
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
    text-align: center;
}
#container{
    background-color: #a28d8d1c;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 12px;
    flex-wrap: wrap;
    width: 85%;
}

.container-desc{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 12px 12px;
    /* background-color: bisque; */
    width: 500px;
    height: 250px;
    text-align: center;
    font-size: 23px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container-desc:hover{
    border: 2px solid #fff;
    cursor: pointer;
    transition: 0.2s;
}

#desc-1{
    background: url(images/switer.jpg) no-repeat center center/cover ;
}
#desc-2{
    background: url(images/japan.jpg) no-repeat center center/cover ;
}
#desc-3{
    background: url(images/srilanka.jpg) no-repeat center center/cover ;
}
#desc-4{
    background: url(images/maldives.jpg) no-repeat center center/cover ;
}
#desc-5{
    background: url(images/nepal.jpg) no-repeat center center/cover ;
}
#desc-6{
    background: url(images/new-york.jpg) no-repeat center center/cover ;
}

#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33%;
    background-color: #a28d8d1c;
    border: 2px solid #fff;
    border-radius: 11px;
}

#contact h2{
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 20px;
}

.form-items {
    padding: 6px 12px;
}

.form-items input{
    width: 360px;
    text-align: center;
    height: 37px;
    border: none;
}

.form-items input:hover{
    border: 2px solid rgb(201, 201, 26);
}
.form-items textarea:hover{
    border: 2px solid rgb(201, 201, 26);
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(7, 7, 26);
    height: 86vh;
    border-top: 2px solid #fff;
}

#btn{
    margin-top: 3px;
    margin-bottom: 12px;
}

#t1{
    margin-top: 12px;
}

#about-us img{
    width: 135px;
    height: 135px;
    margin-left: 12px;
    border: 2px solid rgb(201, 201, 26);
}

#about-us h2{
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: -12px;
    margin-bottom: 12px;
    text-align: center;
    
}

#about-us-inside {
    background: #a28d8d1c;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    border: 2px solid #fff;
}

#about-desc{
    margin-left: 12px;
    margin-right: 12px;
    text-align: justify;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#about-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(7, 7, 26);
    border-top: 2px solid rgb(255, 255, 255);
    height: 50vh;
}

#footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:30vh;
    font-size: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(7, 7, 26);
    color: #fff;
    border-top: 2px solid #fff;
}
.footer-last{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#footer h2{
    text-align: center;
}
#last-1{
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    font-weight: bold;
}
#last-2{
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    font-weight: bold;
}




#footer .fa-facebook-f{
    color: #4267B2;
}

#footer .fa-linkedin-in{
    color: #0077b5;
}
#footer .fa-whatsapp{
    color: #128C7E;
} 
#footer .fa-telegram-plane{
    color: #0088cc;
}
#footer .fa-envelope-open{
    color: #BB001B;
}

#icon{
    height: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#icon a{
    height: 50px;
    width: 50px;
    background-color: #a28d8d1c;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    margin: 10px;
    line-height: 55px;
}
#icon a:hover{
    background-color: #fff;
}

#icon i{
    font-size: 25px;
}























@media(max-width:1230px) and (min-width:1058px){
    #container{
        width: 49%;
    }
}

@media(max-width:1057px) and (min-width:891px){
    #home-desc{
        font-size: 16px;
    }
    #container{
        width: 49%;
    }
    #form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 52%;
        background-color: #a28d8d1c;
        border: 2px solid #fff;
        border-radius: 11px;
    }
}

@media(max-width:890px) and (min-width:763px){
    #home-desc{
        font-size: 14px;
        width: 75%;
    }
    #container{
        width: 49%;
    }
    #form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 52%;
        background-color: #a28d8d1c;
        border: 2px solid #fff;
        border-radius: 11px;
    }
}

@media(max-width:762px) and (min-width:541px){
    #home-desc{
        font-size: 12px;
        width: 90%;
    }
      .container-desc{
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        margin: 12px 12px;
        /* background-color: bisque; */
        width: 340px;
        height: 250px;
        text-align: center;
        font-size: 23px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    } 
    #container{
        width: 49%;
    }
    #form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 76%;
        background-color: #a28d8d1c;
        border: 2px solid #fff;
        border-radius: 11px;
    }
    #about-desc {
        text-align: justify;
        color: #fff;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 12px;
    }






}
@media(max-width:540px) and (min-width:488px){
    #home-desc{
        font-size: 12px;
        width: 95%;
    }
    .container-desc{
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        margin: 12px 12px;
        width: 400px;
        height: 250px;
        text-align: center;
        font-size: 23px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    #navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.3);
        padding: 12px 12px;
        position:static;
        width: 100%;
    }
    #form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 83%;
        background-color: #a28d8d1c;
        border: 2px solid #fff;
        border-radius: 11px;
    }
    #about-us img {
        width: 99px;
        height: 81px;
        margin-left: 12px;
        border: 2px solid rgb(201, 201, 26);
    }
    #about-desc {
        text-align: justify;
        color: #fff;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 12px;
    }
    
}

@media(max-width:487px) and (min-width:1px){
    #navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(7, 7, 26);
        padding: 12px 12px;
        flex-direction: column;
        top: 0;
    }
    #navbar ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 9px;
    }
    #home-desc{
        width: 91%;
        font-size: 13px;
        text-align: center;
    }
    .button-desc {
        border: 2px solid rgb(7, 7, 26);
        color: rgb(7, 7, 26);
        padding: 6px 0px;
        margin-top: 21px;
        width: 100px;
        border-radius: 12px;
        cursor: pointer;
        background-color: #fff;
        font-weight: bold;
    }
    #home {
        width: 100%;
        height: 50vh;
        background: url(images/him.jpg) no-repeat center center/cover;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container-desc{
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        margin: 12px 12px;
         width: 200px;
        height: 200px;
        text-align: center;
        font-size: 23px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
#visits h2{
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
}

#container{
    width: 83%;
}
.container-desc{
    font-size: 17px;
}
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0);
    padding: 12px 12px;
    position:static;
    width: 100%;
}
#contact h2 {
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 7px;
    margin-bottom: 15px;
}
#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    background-color: #a28d8d1c;
    border: 2px solid #fff;
    border-radius: 11px;
}
.form-items input {
    width: 160px;
    text-align: center;
    height: 37px;
    border: none;
}
#text-area{
    width: 160px;
}
#about-us-inside {
    background: #a28d8d1c;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    border: 2px solid #fff;
    flex-direction: column;
}
#about-desc {
    text-align: justify;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
}
#about-us img {
    width: 75px;
    height: 69px;
    margin-left: 12px;
    border: 2px solid rgb(201, 201, 26);
}
#about-us h2 {
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5px;
    margin-bottom: 12px;
    text-align: center;
}
#about-us-inside {
    background: #a28d8d1c;
    width: 94%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 286px;
    border: 2px solid #fff;
    flex-direction: column;
    margin-bottom: 12px;
}
#last-1 {
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    font-weight: bold;
}
#last-2 {
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    font-weight: bold;
}
#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    font-size: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(7, 7, 26);
    color: #fff;
    border-top: 2px solid #fff;
}
#icon a {
    height: 30px;
    width: 30px;
    background-color: #a28d8d1c;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    margin: 10px;
    line-height: 55px;
}
#icon {
    height: 107px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
}